[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
django = "*"
"psycopg2" = "*"
djangorestframework = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"

[requires]
python_version = "3.6"
